<!-- https://loading.io/css/ -->
<div class="lds-ring">
  <div
    class="border-t-darkblue-200 border-r-transparent border-l-transparent border-b-transparent del"
  ></div>
  <div
    class="border-t-darkblue-200 border-r-transparent border-l-transparent border-b-transparent"
  ></div>
  <div
    class="border-t-darkblue-200 border-r-transparent border-l-transparent border-b-transparent"
  ></div>
  <div
    class="border-t-darkblue-200 border-r-transparent border-l-transparent border-b-transparent"
  ></div>
</div>
