@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --homepage: 14px;
  --detail: 16px;
}

@layer utilities {
  .title {
    @apply font-semibold;
  }
}

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
