<div
  id="search-component"
  class="w-full md:w-80 lg:w-[32rem] dark:bg-darkblue-100"
>
  <div
    class="w-full px-4 h-[53px] flex justify-around align-center shadow-md border dark:border-none rounded focus-within:border-darkblue-200"
  >
    <figure class="w-1/6 grid place-items-center">
      <fa-icon
        class="text-darkblue-100 dark:text-white text-lg"
        [icon]="faSearch"
      ></fa-icon>
    </figure>
    <label class="sr-only" for="search-box">Search Box</label>
    <input
      type="search"
      autocomplete="off"
      id="search_button"
      class="w-5/6 h-full focus:outline-none dark:bg-darkblue-100"
      placeholder="Search for a country..."
      #searchBox
      name="searchTerm"
      id="search-box"
      (input)="search(searchBox.value)"
    />
  </div>

  <ul class="mt-0 pl-0 relative z-20">
    <li class="z-20" *ngFor="let country of countries$ | async; index as i">
      <a
        *ngIf="i < 10"
        routerLink="/detail/{{ country.name }}"
        class="z-20 border border-t-0 inline-block w-full md:w-[32rem] p-4 rounded shadow bg-white dark:bg-darkblue-100 hover:bg-darkblue-100 hover:text-white dark:hover:bg-white dark:hover:text-black focus:outline-none focus:bg-darkblue-100 focus:text-white dark:focus:bg-white dark:focus:text-black transition-colors"
        >{{ country.name }}</a
      >
    </li>
  </ul>
</div>

<!-- Previous Method -->
<!-- [(ngModel)]="searchTerm" -->

<!-- <ul class="mt-0 pl-0 relative z-20">
    <li
      class="z-20"
      *ngFor="let country of countries | searchFilter: searchTerm; index as i"
    >
      <a
        *ngIf="i < 10"
        routerLink="/detail/{{ country.name }}"
        class="z-20 border border-t-0 inline-block w-full md:w-[32rem] p-4 rounded shadow hover:bg-darkblue-100 hover:text-white dark:hover:bg-white dark:hover:text-black h-12 box-border"
        >{{ country.name }}</a
      >
    </li>
  </ul> -->
