<main
  class="px-8 md:px-14 pt-6 pb-14 text-[14px] relative dark:bg-darkblue-200 dark:text-white"
>
  <app-search
    class="absolute left-8 right-8 top-5 md:left-14 md:right-auto md:top-14"
  ></app-search>

  <div class="absolute z-10 left-8 top-32 md:left-auto md:right-14 md:top-14">
    <div
      class="dropdown-btn w-64 shadow-md rounded bg-white dark:bg-darkblue-100 p-4 flex justify-between"
      (click)="toggleFilter()"
    >
      <p class="dropbtn">Filter by Region</p>
      <fa-icon class="mr-1" [icon]="faChevronDown"></fa-icon>
    </div>

    <ul
      *ngIf="shown"
      class="dropdown-select w-64 shadow-md rounded bg-white dark:bg-darkblue-100 py-4 mt-4 space-y-2"
    >
      <li
        class="cursor-pointer px-4 bg-white dark:bg-darkblue-100 hover:bg-darkblue-100 hover:text-white dark:hover:bg-white dark:hover:text-black focus:outline-none focus:bg-darkblue-100 focus:text-white dark:focus:bg-white dark:focus:text-black transition-colors w-full"
        *ngFor="let region of regions"
        (click)="filterRegion(region)"
      >
        {{ region }}
      </li>
    </ul>
  </div>

  <!-- <div
    *ngIf="loading"
    class="w-full dark:bg-darkblue-200 flex items-center justify-center"
  >
    <app-loading-animation></app-loading-animation>
  </div> -->
  <!-- Loading Animation -->
  <div *ngIf="loading" class="w-full flex justify-center mt-48">
    <app-loading-animation class=""></app-loading-animation>
  </div>
  <!-- CARDS -->
  <div
    class="card-container mt-48 md:mt-28 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-12 md:gap-20 justify-center"
  >
    <!-- Error Message -->
    <div
      *ngIf="errorMessage"
      class="grid place-items-center space-y-14 mt-32 md:col-span-4"
    >
      <h2 class="font-extrabold text-2xl">Error</h2>
      <img
        src="../../assets/maps-and-flags-surrender-svgrepo-com.svg"
        alt="surrender flag"
        class="w-32"
      />
      <h4 class="font-semibold">{{ errorMessage.message }}</h4>
    </div>

    <div
      class="card rounded-md overflow-hidden shadow-md text-left bg-white dark:bg-darkblue-100 md:w-72 hover:shadow-2xl transition-shadow"
      *ngFor="let country of countries"
    >
      <figure class="w-full md:h-60">
        <a routerLink="/detail/{{ country.name }}">
          <img
            src="{{ country.flag }}"
            alt="{{ country.name }}"
            class="flag object-cover h-full"
          />
        </a>
      </figure>
      <div
        id="{{ country.name }}"
        class="country-detail pt-4 pb-4 px-5 h-44 md:h-32"
      >
        <a routerLink="/detail/{{ country.name }}">
          <p class="font-semibold mb-4">{{ country.name }}</p>
        </a>

        <span class="font-semibold mb-2">Population: </span
        ><span class="mb-2">{{ country.population }}</span> <br />
        <span class="font-semibold mb-2">Region: </span
        ><span class="mb-2">{{ country.region }}</span> <br />
        <span class="font-semibold">Capital: </span
        ><span>{{ country.capital }}</span>
      </div>
    </div>
  </div>
</main>
