<div
  *ngFor="let ctry of country"
  id="detail"
  class="px-8 md:px-14 py-8 h-screen"
>
  <button
    (click)="goBack()"
    class="py-2 px-8 shadow-xl rounded border mb-8 bg-white"
  >
    <fa-icon class="mr-3" [icon]="faArrowLeft"></fa-icon>Back
  </button>
  <!--  -->
  <div
    class="md:flex md:justify-between gap-24 md:items-center w-full md:mt-10"
  >
    <!-- Flag -->
    <figure
      class="flag md:w-1/2 md:h-96 h-60 overflow-hidden mb-8 md:mb-0 object-cover"
    >
      <img src="{{ ctry.flags.svg }}" alt="" />
    </figure>

    <!-- Details -->
    <div id="country-details" class="md:w-1/2 md:h-96 py-8 md:px-2">
      <h2 class="font-semibold mb-8 text-2xl">{{ ctry.name }}</h2>

      <div class="md:flex justify-between items-start">
        <div class="space-y-3 mb-8">
          <div>
            <span class="title">Native Name: </span>
            <span>{{ ctry.nativeName }}</span>
          </div>

          <div>
            <span class="title">Population: </span>
            <span>{{ ctry.population }}</span>
          </div>

          <div>
            <span class="title">Region: </span> <span>{{ ctry.region }}</span>
          </div>

          <div>
            <span class="title">Sub Region: </span>
            <span>{{ ctry.subregion }}</span>
          </div>
          <div>
            <span class="title">Capital: </span> <span>{{ ctry.capital }}</span>
          </div>
        </div>
        <!--  -->
        <div class="space-y-3">
          <div>
            <span class="title">Top Level Domain: </span>
            <span>{{ ctry.topLevelDomain }}</span>
          </div>

          <div>
            <span class="title">Currencies: </span>
            <span *ngFor="let currencies of ctry.currencies">{{
              currencies.name
            }}</span>
          </div>
          <div>
            <span class="title">Languages: </span>
            <span *ngFor="let language of ctry.languages"
              >{{ language.name }}
            </span>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="md:flex items-center mt-8">
        <span class="title block md:inline-block mb-2 md:mb-0"
          >Border Countries:
        </span>

        <a
          *ngFor="let border of borderCountries"
          routerLink="/detail/{{ border.name }}"
          class="border mr-2 md:mr-0 md:ml-2 p-2 shadow rounded"
        >
          {{ border.name }}
        </a>
      </div>
    </div>
  </div>
</div>
